<app-menu></app-menu>

<div *ngIf="hero then showHero else showError"></div>

<!-- Data -->
<ng-template #showHero>
  <h2>{{ hero.name | uppercase }} Details</h2>
  <div>
    <span>id: </span>{{hero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name" />
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click) ="onClickEvent()" >Output Example</button>
</ng-template>
<!-- No Data -->
<ng-template #showError>
  <span class="no-data">No Data</span>
</ng-template>
<button (click)="save()">Save</button>