<app-header></app-header>
<div class="form-container login-form">
  <h2 class="text-center">{{title}}</h2>
  <!-- ngNativeValidate -->
  <form class="form sign-inForm ui-g" id="login-form" #loginForm="ngForm" (ngSubmit)="saveForm(loginForm.value)">
    <!-- Email -->
    <div class="wrapper email-wrapper ui-g-12">
      <input id="email" class="email ui-g-4" type="text" required name="email" pInputText ngModel #emailId="ngModel" placeholder="Enter email">
      <p-message severity="error" text="Email id is Required" class="error" *ngIf="emailId.touched && emailId.invalid"></p-message>
    </div>
    <!-- Password -->
    <div class="wrapper password-wrapper ui-g-12">
      <input type="password" id="password" class="password ui-g-4" required name="password" pPassword [feedback]="false" ngModel
        #password="ngModel" placeholder="Enter password">
      <p-message severity="error" text="Password is Required" class="error" *ngIf="password.touched && password.invalid"></p-message>
    </div>
    <!-- Buttons -->
    <div class="btn-wrapper ui-g-12">
      <button pButton type="submit" [disabled]="loginForm.invalid" class="ui-button-secondary ui-g-4" label="Login"></button>
    </div>
  </form>
</div>

<p-growl [(value)]="msgs" life="3000"></p-growl>