.login-form{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin: 0 auto;
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 3px 3px 16px 16px #eee;  
    padding: 5rem 0;
    background: #6190E8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    
    .wrapper{
        label, input, button {
            float: none;
            display: inline-flex;
        }
    }
    .btn-wrapper {
        float: none;
        display: inline-flex;
        text-align: center;
        button{
            text-align: center;
            margin: 0 auto;
            color: #000;
        }
    }
    .error{
        display: block;
        margin-top: 5px;
    }
}