body{
    background: #74ebd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    
   ul{
    padding:0;
    margin: 0;
       li{
           list-style: none;
       }
   }
   h3{
       width:200px;
       background: lightblue;
       text-align: center;
       padding: 20px;
       font-size: 20px;
   }
}


body .ui-widget {
    input {
        width: 25rem;
    }
}

body .ui-menu.ui-menubar {
    background-color: transparent;
    border: transparent;
    .ui-menuitem-link.ui-corner-all {
        color: White;
        font-size: 2rem;

        &:hover {
            background-color: transparent;    
        }
    }
}

.ui-menuitem.ui-menuitem-custom.ui-widget.ui-corner-all {
    margin: 1.5rem;
}