body{
    background: #73C8A9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #373B44, #73C8A9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #373B44, #73C8A9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
   ul{
    padding:0;
    margin: 0;
       li{
           list-style: none;
       }
   }
   h3{
       width:200px;
       background: lightblue;
       text-align: center;
       padding: 20px;
       font-size: 20px;
   }
}


body .ui-widget {
    input {
        width: 25rem;
    }
}

body .ui-menu.ui-menubar {
    background-color: transparent;
    border: transparent;
    .ui-menuitem-link.ui-corner-all {
        color: White;
        font-size: 2rem;

        &:hover {
            background-color: transparent;    
        }
    }
}

.ui-menuitem.ui-menuitem-custom.ui-widget.ui-corner-all {
    margin: 1.5rem;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}
 
::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
                                        left bottom,
                                        left top,
                                        color-stop(0.44, rgb(122,153,217)),
                                        color-stop(0.72, rgb(73,125,189)),
                                        color-stop(0.86, rgb(28,58,148)));
}